# linguist-detectable
docs/**/*.html linguist-detectable
docs/**/*.js linguist-detectable
docs/**/*.css linguist-detectable
/.github/*.yml linguist-detectable
/.github/workflows/*.yml linguist-detectable
/*.md linguist-detectable

# -liguist-documentatiom
docs/**/*.html -linguist-documentation
docs/**/*.js -linguist-documentation
docs/**/*.css -linguist-documentation
/.github/*.yml -linguist-documentation
/.github/workflows/*.yml -linguist-documentation
/*.md -linguist-documentation
